/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
*/

body {
   padding-bottom: 0px !important;
   font-family:Calibri, Cambria;
}

body.main-template {
   padding-top: 38px;
   
}

* {
   margin: 0;
}

input[type="button"]{  min-height:12px; cursor:pointer;}


#ajax-load {
   background: url('../img/ajax_load_bg.png') no-repeat scroll top left;
   width: 43px;
   height: 46px;
   padding: 16px 0 0 16px;
   position: fixed;
   top: 43px;
   right: -60px;
   z-index:102;
   
}

#grid_box{
	width: 100%;
	overflow: auto;
	margin-bottom:150px;
	margin-top:38px;

}

#grid_box  .odd div { overflow:hidden; height:17px; }
#grid_box  .even div { overflow:hidden; height:17px; }

#ad_find{
	color:#00F;
}

#DataTables_Table_0_paginate{
	bottom: 8%;
    float: right;
    left: 68%;
    position: fixed;
    z-index: 100;
}

#total_count_tool{ padding:0px; right:0; text-align:right; }


/* Fix Module name bar */
#module_top_menu{
	width: 99%;
	margin-top:2px;
	padding:6px;
	position:fixed;
	z-index: 98;
	min-width:950px;
	
}

#module_top_menu table{
	width:100%;
}


/* Module Name  */
.module_name{
	text-transform: uppercase;	
}

#module_top_menu h1{
	font-size:24px;
	text-transform: uppercase;	
}

#module_name table{
	width:98%;
	text-align:right;
}

#module_name table td{
	vertical-align: middle;	
}

#ad_find{ width:50px; height:25px;max-width:50px; max-height:25px;}
#close{ width:50px; height:25px;max-width:50px; max-height:25px;}

#tbl_grid_head{font-weight:bold;cursor:pointer;}
#tbl_grid_head_admin{font-weight:bold;cursor:pointer;}

.filter_table input[type="button"]{  width:20px; height:20px;  min-height:10px;  max-width:20px; max-height:20px;  cursor:pointer;  }

.check_box_sumittors{
		border: thin solid #999;
		max-width:100px; 	
}

.check_box_sumittors div{
	display:inline-block;
	padding:5px;

}

.tab_form_body{
	background-color:#F7F7F7;
}



.top_button_tab div input{
	height:23px !important;	
}

#examsub .next_button{
	background-image: url(../img/r-next.png);
	background-repeat: no-repeat;
	width:25px;
	height:35px;
	margin-left:15px;
}

#examsub .carousel-control{
	display:none;
}

#examsub .prive_button{
	background-image: url(../img/r--previous.png);
	background-repeat: no-repeat;
	width:25px;
	height:35px;
}
/*////////////////////////////*/

/*
    *Edit Drop down type
 */
/*.esContainer {
  border: 1px solid black;
  border-left: 2px solid black;
}
.esItem {
  background: white;
}
.esItemHover {
  background: blue;
  color: white;
}
.esTextBox {
  background: url(arrow.png) 98% 50% no-repeat;
}*/
/* /////////// */


.highlighted {
     background-color:yellow;
}

.form .input.empty { color: #aaa; }
.black_h5validate {
    background-color: #ff7070;
   
}




#filter_status_view{width:100px; height:11px;text-align:center; }
.find_option_div{
	width:90%;
	margin:10px;
	border: 1px dashed #7A71F4;
	background-color: #E1E1FF;
	margin-left:25px;
}
.find_option_div p{
	text-decoration:underline;
	}
.find_option_div input[type="select"]{width:70px; background-color:#EAF4FF; padding:3px;}
.find_option_div input[type="button"]{height:30px; font-weight:bold; width:80px;}
.find_option_div input[type="text"]{
	width:98%;
	background-color:#EAF4FF;
	height:20px;
	padding:3px;
	border: 1px solid #666;
	font-size:18px;
	font-weight:bold;
}
.find_option_div table{width:80%;margin:5%; margin-left:10%;}
.find_option_div table td{ padding:5px;}

#DataTables_Table_0_info{display:none;}

.highlight { background: #ffffab; }


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


.btn.danger,.alert-message.danger,.btn.danger:hover,.alert-message.danger:hover,.btn.error,.alert-message.error,.btn.error:hover,.alert-message.error:hover,.btn.success,.alert-message.success,.btn.success:hover,.alert-message.success:hover,.btn.info,.alert-message.info,.btn.info:hover,.alert-message.info:hover{
	color:#ffffff;
	position: fixed;
	width:98%;
}
.btn .close,.alert-message .close{font-family:Arial,sans-serif;line-height:18px;}
.btn.danger,.alert-message.danger,.btn.error,.alert-message.error{background-color:#c43c35;background-repeat:repeat-x;background-image:-khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));background-image:-moz-linear-gradient(top, #ee5f5b, #c43c35);background-image:-ms-linear-gradient(top, #ee5f5b, #c43c35);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));background-image:-webkit-linear-gradient(top, #ee5f5b, #c43c35);background-image:-o-linear-gradient(top, #ee5f5b, #c43c35);background-image:linear-gradient(top, #ee5f5b, #c43c35);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);border-color:#c43c35 #c43c35 #882a25;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);}
.btn.success,.alert-message.success{background-color:#57a957;background-repeat:repeat-x;background-image:-khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));background-image:-moz-linear-gradient(top, #62c462, #57a957);background-image:-ms-linear-gradient(top, #62c462, #57a957);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));background-image:-webkit-linear-gradient(top, #62c462, #57a957);background-image:-o-linear-gradient(top, #62c462, #57a957);background-image:linear-gradient(top, #62c462, #57a957);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);border-color:#57a957 #57a957 #3d773d;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);}
.btn.info,.alert-message.info{background-color:#339bb9;background-repeat:repeat-x;background-image:-khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));background-image:-moz-linear-gradient(top, #5bc0de, #339bb9);background-image:-ms-linear-gradient(top, #5bc0de, #339bb9);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));background-image:-webkit-linear-gradient(top, #5bc0de, #339bb9);background-image:-o-linear-gradient(top, #5bc0de, #339bb9);background-image:linear-gradient(top, #5bc0de, #339bb9);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);border-color:#339bb9 #339bb9 #22697d;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);}
:root .alert-message,:root .btn{border-radius:0 \0;}
button.btn::-moz-focus-inner,input[type=submit].btn::-moz-focus-inner{padding:0;border:0;}
.alert-message .close{float:right;color:#000000;font-size:20px;font-weight:bold;line-height:13.5px;text-shadow:0 1px 0 #ffffff;filter:alpha(opacity=25);-khtml-opacity:0.25;-moz-opacity:0.25;opacity:0.25;}.close:hover{color:#000000;text-decoration:none;filter:alpha(opacity=40);-khtml-opacity:0.4;-moz-opacity:0.4;opacity:0.4;}
.alert-message{position:relative;padding:7px 15px;margin-bottom:18px;color:#404040;background-color:#eedc94;background-repeat:repeat-x;background-image:-khtml-gradient(linear, left top, left bottom, from(#fceec1), to(#eedc94));background-image:-moz-linear-gradient(top, #fceec1, #eedc94);background-image:-ms-linear-gradient(top, #fceec1, #eedc94);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceec1), color-stop(100%, #eedc94));background-image:-webkit-linear-gradient(top, #fceec1, #eedc94);background-image:-o-linear-gradient(top, #fceec1, #eedc94);background-image:linear-gradient(top, #fceec1, #eedc94);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceec1', endColorstr='#eedc94', GradientType=0);text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);border-color:#eedc94 #eedc94 #e4c652;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);border-width:1px;border-style:solid;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.25);-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.25);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.25);}.alert-message .close{margin-top:1px;*margin-top:0;}
.alert-message a{font-weight:bold;color:#404040;}
.alert-message.danger p a,.alert-message.error p a,.alert-message.success p a,.alert-message.info p a{color:#ffffff;}
.alert-message h5{line-height:18px;}
.alert-message p{margin-bottom:0;}
.alert-message div{margin-top:5px;margin-bottom:2px;line-height:28px;}
.alert-message .btn{-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.25);-moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.25);box-shadow:0 1px 0 rgba(255, 255, 255, 0.25);}
.alert-message.block-message{background-image:none;background-color:#fdf5d9;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);padding:14px;border-color:#fceec1;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}.alert-message.block-message ul,.alert-message.block-message p{margin-right:30px;}
.alert-message.block-message ul{margin-bottom:0;}
.alert-message.block-message li{color:#404040;}
.alert-message.block-message .alert-actions{margin-top:5px;}
.alert-message.block-message.error,.alert-message.block-message.success,.alert-message.block-message.info{z-index:101; color:#404040;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);}
.alert-message.block-message.error{background-color:#fddfde;border-color:#fbc7c6;}
.alert-message.block-message.success{background-color:#d1eed1;border-color:#bfe7bf;}
.alert-message.block-message.info{background-color:#ddf4fb;border-color:#c6edf9;}
.alert-message.block-message.danger p a,.alert-message.block-message.error p a,.alert-message.block-message.success p a,.alert-message.block-message.info p a{color:#404040;}


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
*/

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: .222; }


body { margin: 0; font-size: 12px; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
*/


/* =============================================================================
   Links
   ========================================================================== */

a { color: .00e; }
a:visited { color: .551a8b; }
a:hover { color: .06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid .ccc; margin: 1em 0; padding: 0; }

ins { background: .ff9; color: .000; text-decoration: none; }

mark { background: .ff0; color: .000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
*/

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
*/

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 1px solid #999; margin: 0; padding: 0; }
fieldset table { border: 0; width: 100%; }
fieldset table input[type=text] { width: 95%; }
fieldset table select { width: 25%; }
fieldset table td {
    padding: 5px;
}
fieldset table tr td:first-child {
    width: 23%;
}
input[type=radio] {
    margin-right: 5px;
}

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; font:12px; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
*/

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
*/

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
*/

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
*/


/*
 * Re-set default cursor for disabled elements
*/

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
*/

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
*/

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
*/

textarea { overflow: auto; vertical-align: top; resize: vertical;   }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: .ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
   Author: Namal
   ========================================================================== */

/*Layouts
------------------------------------------------------------------------------*/
.lock_section { text-align: right; }

.content_sidebar #content { width: 70%; float: left; }
.content_sidebar #sidebar { width: 30%; float: right; }
.listing_screen #content { width: 100%; }
.listing_screen #filter { width: 99%; }

/*Lock
------------------------------------------------------------------------------*/
label.lock { display: block; padding-left: 15px; text-indent: -15px; text-align: right; padding: 4px; }
label.lock input { width: 13px; height: 13px; padding: 0; margin: 0 2px 0 0; vertical-align: bottom; position: relative; top: -2px; *overflow: hidden; }
.locked { border: 3px solid red; background: url(../img/locked_bg.png) repeat !important;  }
.quote_tab_lock{ border-width: 3px thin; border-color: #F3A860;}

.clear{ clear: both; }

.container{
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
    min-width:950px;
}


.contact.section{ float: left; width: 40%; }

fieldset { margin-bottom: 10px; }

.organization.section{ float: right; width: 60%; }

/*.actions{ background-color: #999; height:200px; }*/

.wrapper{ margin: 10px; }

.standard_section { float: left; padding: 5px; width: 35%; }

.document_path_section{ float: right; width: 60%; }
.document_path_section tr td:first-child{ width: 100%; }
.document_path_section tr td input{ width: 100%;}

.address_section { margin: 10px  0; }
.address_section td:first-child{ width: 50%; }
.address_section textarea{ height: 100px; width: 98%; }
.address_section table:last-child td:first-child { width: 20%; }
.address_section table:last-child tr select{ width: 32%; }
.address_section table:last-child tr:last-child td:last-child { width: 60%; }

.contact_cat_section {  margin: 10px 0;}
.contact_cat_section h4 { text-align: center; text-transform: uppercase;}
.contact_cat_section select { width: 100%;}
.contact_cat_section td:first-child { width:90%; }

.controler_section table tr td {text-align: right; }
.controler_section table tr td input { padding: 5px 10px ; margin: 10px 10px;}

.con_id td:first-child { width: 40%; }
.con_id table input[type=text] { width: 100%; }
.con_id tr:first-child { float: left;  }
.con_id tr:last-child { float: right; width: 50%;}
.con_id tr td:last-child { width: 100%; }
.con_id select { width: 100%; }

.approve_section td:first-child { width: 50%; }
.approve_section tr td:first-child { text-align: right; }
.approve_section select { width: 95%; }

.final_section td:first-child { width: 15%; }
.final_section select { width: 100%; }
.final_section tr:last-child input[type=text] { width: 80%; }

.updates { margin: 10px 0; }
.updates table tr td { text-align: center; }
.updates table tr input { text-align: center; }

/* main form 
============================================================================= */

.quote_top table tr { padding: 15px 0; }

.artefact { float: left; width: 50%; }
.client_owner { float: left; width: 25%; }
.work_group_top { float: right; width: 25%; }
.quote_top h3{ text-align: center; }

.artefact_ftable_td { width: 50%; }
.artefact input[type=text]{ height: 22px; width: 62%; }
.artefact select { width: 64%;}
.artefact_ftable td:last-child { text-align: right;}
.artefact_ltable { margin: 15px 0; width: 100%; }
.artefact_ltable button { text-align: right; }
.artefact_ltable input[type=text] { width: 99%; }

.client_owner table tr:last-child td { background-color: #d6d6d6; padding: 5px; }
.client_owner { height: 210px; }

.contact_table_sr td { padding-top: 10px; }
.contact_table_sr td h4 { float: left; }
.contact_table_sr td label { float: left; margin-left: 90px; }
.contact_table_sr td button { float: right; }

.work_group_top input[type=text] { width: 95%;}

table.advance_search {
  /*background: #90A4FA;*/
}
table.advance_search td, table.category_search td {
  padding: 6px;
}
table.advance_search label {
  display: inline-block;
  width: 50%;
}
table.advance_search .filter_field {
  width: 66%;
}

/*#advance_search {
  float: right;
}
*/
.actions {
  padding: 0px 0;
}

.save_cancel {
   font-size: 11px;
   padding: 5px 5px;
   text-transform: uppercase;
   font-weight: bold;
   width: 100px;
}



/* data tables
============================================================================= */

#listing_filter table{
	width: 100%;
	margin-top:3px;
}

#listing_filter table td{
	vertical-align:middle;
        text-align: right;
        padding-right: 5px;
}
#listing_filter table td input,#listing_filter table td button{
	margin-left:2px;
	margin-right:2px;
}

#listing_filter {
	border: 1px solid #CCC;
	padding:2px;
}

.select_pack input,.select_pack select, .select_pack button{
	display:inline-block;
	float:left;
}






.filter_table tr td {}
.filter_table tr td select { width: 100%; }
.filter_table tr td .select_pack select{width:80%;}
.filter_table tr td label {  display: inline-block; margin: 0 20px; width: 20%; }
.excel{  background-color: #D9D9FF; }
.cat{background-color: #ffcc99;}
.emp{background-color: #ffa6d2;}
.tr td:first-child { background-color: #5aadad; }
.filter_table td { padding: 0px 0; }


.rfilefilter{background-color:#ffcece;}
.contactfilter{background-color:#fff;}
.abc_filter{border: 1px solid #999;	margin: 1px;padding: 2px; background-color:#46a3ff;}


/*Range Filter*/
.range-filter{
	height: 20px;
	width: 25px;
	margin:0px;
	border: 1px solid #666;
}


/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="."]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
    pre, blockquote { border: 1px solid .999; page-break-inside: avoid; }
    thead { display: table-header-group; } /* h5bp.com/t */
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
}



#search_clear {
  display: none;
}


/*Login Box
------------------------------------------------------------------------------*/
body.login #header {
    display: none;
}

form#login_box {
    width: 532px;
    height: 470px;
    margin: 0 auto;
    margin-top: 50px;
    background: url(../img/login_box.png) no-repeat;
}
form#login_box .content {
    padding: 210px 90px 0 90px;
    text-align: center;
}
form#login_box .content input[type=text], form#login_box .content input[type=password] {
    width: 315px;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 20px;
}
form#login_box .signin {
	width: 332px;
	height: 45px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	padding: 10px 10px;
	background: -moz-linear-gradient(
        top,
        #80e72d 0%,
        #62a72b);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #008fcc;
	-moz-box-shadow: 0px 1px 3px rgba(000,000,000,0),
        inset 0px 1px 0px rgba(255,255,255,0.5);
	-webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0),
        inset 0px 1px 0px rgba(255,255,255,0.5);
	text-shadow: 0px -1px 0px rgba(000,000,000,0),
        0px 1px 0px rgba(255,255,255,0.7);
	cursor: pointer;
	background-color: #62a72b;
	background-position: left top;
}

#header {
   background: url("../img/header.png") repeat-x  scroll center bottom transparent;
   height: 50px;
   position: fixed;
   width: 100%;
   color: #fff;
   z-index: 100;
   margin-top: -15px;
   top: -100px;
   min-width:950px;
}

#header a {
    color: #fff;
    border-bottom: 1px dotted #999;
}

#header ul {
    float: right;
}

#header ul li {
    float: left;
    padding: 0 10px;
}

#header .user {
    float: left;
    opacity: 0.8;
    padding-top: 13px;
    padding-left: 10px;
}

#header ul li, #header ul li a {
    color: #fff;
    font-weight: bold; 
}

#filter {
	padding: 0px;
	position:fixed;
	bottom: 0;
	display:inline-block;
	vertical-align: bottom;
	overflow: hidden;
	padding-bottom:15px;
	margin-bottom:45px;
}

#footer {
  padding: 10px;
  background: #fff url(../img/footer.jpg) repeat-x top;
  position: fixed;
  bottom: 0;
  width: 100%;
  /*z-index: 200;*/
}



#footer .ver {
   color: #999999;
   float: right;
   font-size: 10px;
   margin-right: 10px;
   padding: 15px 10px 0;
   text-align: right;
}

.back_to_dashboard {
  text-align: right;
}
.iframe #footer {
  display: none;
}

.iframe{
    border:#D9D9FF 1px solid;
}

.spaced {
  padding: 4px 10px;
}

.employee_select {
   width: 60% !important;
}

/*Strip template
------------------------------------------------------------------------------*/
body.template_strip {
  padding: 0;
  margin: 0;
  overflow: auto;
  padding: 0px !important;
}

.inline_editable input {
	width:100% !important;
}


input[readonly] {
    
    color: grey;
}

.build_field_output {
   padding: 8px;
   background: #F4F4F4;
   border: 2px solid #7D7D7D;
   margin-bottom: 6px;    
}

/*     sampath    */


/*.typable{ border: 1px #000000 solid;}*/


/*Kendo Combobox list hight control*/
#cboRfileOrg-list, #cboRfileYear-list, #empselect_rfiles_location-list, 
#cboRfileProduct-list, #cboContactCategory-list, #empselect_contact-list,  
#examiner-list, #cboOrganisation-list, #cboInstrumentCategory-list, #cboCertificateStatusMisc-list, #myselect-list{ 
    height: 400px !important;
}

#cboExamStatus-list{
    height: 335px !important;
}

#cboCertificateStatus-list{
    height: 320px !important;
}

#cboRfileStatus-list{
    height: 150px !important;
}